* {
  box-sizing: border-box;
}

// css animations for background
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
// css for the logo and nav bar
main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(68, 68, 68, 0.7), rgba(15, 9, 9, 0.6)),
    url(../img/birds.jpg);
  background-position: cover;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;

  z-index: 2;
}
header {
  color: #cccccc;
  width: 100%;
  background: transparent;
  display: flex;
  height: 40px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  padding-top: 2em;
  color: hotpink;
  .logo-name {
    span {
      display: block;
    }
  }
  .nav {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    flex-shrink: 1;

    .link {
      margin: 0 1rem;

      a {
        color: #cccccc;
        text-decoration: none;
      }
    }
  }
}

// css for the home page
.home-page {
  padding-top: 6rem;
  width: 100%;
  height: 100%;

  .quote-1 {
    font-size: 3em;
    margin-left: 10%;
    color: #f6c0a9;
    font-weight: 300;
  }
  .quote-2 {
    font-size: 3em;
    margin-left: 60%;
    color: #f6c0a9;
    font-weight: 300;
  }
  .small-bio {
    font-size: 2rem;
    width: 60%;
    margin: 0 auto;
    color: #ddead5;
    font-weight: 300;
  }
  button {
    display: block;
    font-size: 2rem;
    margin-left: 25%;
    margin-top: 2rem;
    padding: 1rem;
    width: 300px;
    background: transparent;
    letter-spacing: 2.5px;
    color: white;
    border-color: #f6c0a9;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: #141313;
      background: #faecec;
      letter-spacing: 7px;
      cursor: pointer;
    }
  }
}

.summary {
  height: 30vh;
  background: #141313;
  color: aliceblue;
  display: flex;
  justify-content: space-around;

  .passionate,
  .inspired,
  .adapt {
    margin: auto;
    text-align: center;
    i {
      font-size: 5em;
      color: crimson;
    }
    p {
      font-size: 1em;
      color: aqua;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  h1 {
    color: orangered;
    margin-left: 3em;
    font-size: 3em;
    border-bottom: #0f0b0b solid 3px;
    width: 35%;
  }
  h2 {
    color: rgb(224, 50, 216);
  }
  .icons {
    display: inline;
    font-size: 4em;
    color: rgb(0, 0, 0);
    margin: auto;
    i {
      margin: 0 1em;
    }
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    p {
      margin: auto;
      width: 50%;
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }
}

.experience {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  margin-bottom: 3em;
  background: #f5f5f5;

  h1 {
    margin: auto;
    padding: 1em;
    font-size: 4em;
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    color: blueviolet;
  }
  .projects-gallery {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 80%;
    height: 100%;

    .project {
      width: 50%;
      height: 100%;
      position: relative;

      &:hover {
        .info {
          transition: all 0.5s ease-in-out;
          background: whitesmoke;
          z-index: 5;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
      //overlay
      .info {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        font-size: 2em;

        h4 {
          margin-bottom: 0;
        }
        span {
          display: block;
          color: crimson;
        }
        button {
          margin: 3em auto;
          width: 10em;
          background: transparent;
          padding: 10px;
          border: crimson solid 1px;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #ffffff;
            background: hotpink;

            cursor: pointer;
          }
        }
      }
    }
  }
}

footer {
  height: 100px;
  margin: 0;

  background: #0f0b0b;
  width: 100%;
  color: white;
  text-align: center;
  .icons {
    font-size: 1.5em;
    padding: 0.5em;
    i {
      margin: 0 0.5em;
    }
  }
  span {
    color: cyan;
  }
}
